body{
    margin:0;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

    background:
    linear-gradient(
    rgba(15,23,42,.55),
    rgba(15,23,42,.55)
    ),
    url("wallpaper.jpg");

    background-size:110% auto;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;

    font-family:Segoe UI,Arial,sans-serif;
}



.container{
    width:650px;
    padding:40px;

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(10px);

    border:1px solid rgba(255,255,255,.15);

    border-radius:30px;

    box-shadow:0 25px 60px rgba(0,0,0,.5);

    text-align:center;
}


#timer{

width:120px;
height:120px;

margin:auto;

border-radius:50%;

display:flex;
align-items:center;
justify-content:center;

font-size:45px;
font-weight:bold;

color:#ecfdf5;

background:linear-gradient(145deg,#22c55e,#15803d);

box-shadow:
0 0 20px rgba(34,197,94,.45),
inset 0 0 15px rgba(255,255,255,.15);

}


#target{

width:420px;
height:170px;

margin:35px auto;

display:flex;
justify-content:center;
align-items:center;

background:linear-gradient(180deg,#111827,#020617);

border-radius:22px;

border:3px solid #3b82f6;

font-size:75px;

font-weight:800;

color:#60a5fa;

letter-spacing:8px;

text-shadow:
0 0 6px rgba(96,165,250,.35);

box-shadow:
0 0 25px rgba(59,130,246,.25),
inset 0 0 20px rgba(59,130,246,.1);

transition:.2s;

}


input{

width:420px;

padding:18px;

font-size:40px;

border-radius:18px;

border:none;

outline:none;

background:#1f2937;

color:#93c5fd;

text-align:center;

letter-spacing:8px;

font-weight:700;
    
box-shadow:inset 0 0 15px rgba(0,0,0,.5);

}

input:focus{

box-shadow:0 0 20px #38bdf8;

}

button{

padding:18px 50px;

font-size:22px;

font-weight:bold;

border:none;

border-radius:18px;

background:linear-gradient(90deg,#2563eb,#1d4ed8);

color:white;

cursor:pointer;

box-shadow:
0 8px 20px rgba(37,99,235,.25);
    
transition:.25s;

}


button:hover{

transform:translateY(-4px);

box-shadow:0 15px 35px rgba(37,99,235,.45);

}
button:active{
    transform:scale(.97);
}

#preview{

font-size:40px;

margin-top:25px;

}


.benar{

color:#22c55e;

}


.salah{

color:#ef4444;

}


#hasil{
    margin-top:30px;
    padding:20px;

    border-radius:18px;

    background:rgba(255,255,255,.06);

    border:1px solid rgba(255,255,255,.08);

    font-size:24px;
}

.credit{
    margin-top:35px;

    font-size:16px;
    font-weight:600;

color:#4ade80;
text-shadow:0 0 6px rgba(74,222,128,.4);

    letter-spacing:3px;
}
